@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  --primary: #294db6;
  --dark-blue: #062e53;
}

* {
  margin: 0;
  padding: 0;
}
.btn
{
  border-radius: 0px !important;
}
.btn-success
{
  background:#72bc76 !important;
  border-color:#72bc76 !important;
}
.btn-success:hover
{
  background:#4ba94f !important;
  border-color:#4ba94f !important;
}
.btn.btn-cus
{
  padding:8px 16px !important;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Jost', sans-serif;
}
.navbar-brand img {
  max-width: 160px;
  /* transform: scale(1.9); */
  background: #fff;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0 0 1px #fff1f1;
}

.fixed-top {
  max-width: 100%;
}

.navbar-collapse {
  flex-grow: unset !important;
}

.btn {
  font-size: 14px;
  font-family: 'Jost';
  padding: 16px 40px;
  line-height: 1;
}

a {
  color: #294db6;
}

.link_bold {
  font-size: 14px;
}

.btn-primary {
  background: #486bd2;
  border-color: #486bd2;
}

/* Homepage css */
/* .hero-section {
  min-height: 100vh;
} */

.pt-80px
{
  padding-top:90px;
}
.hero-section {
  /* min-height: 100vh; */
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(96deg, rgba(0, 0, 0, 0.849), transparent);
}

.hero-section>section {
  position: relative;
  color: #fff;
}

.hero-content {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  padding: 50px 0;
  min-height: 730px;
}

.nav-link {
  font-weight: 600 !important;
  margin: 0 8px;
}

.hero-heading {
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  color: #f0e8e8;
}

.col-6.col-xl-6.col-sm-8.justify-content-end.d-flex{
  padding: 0;
}

.hero-description {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.banner-form{
  background-color: #fff;
  padding: 30px;
}
.banner-form-heading{
  color: #000;
}

.review-heading{
  font-size: 40px;
}

.review-text{
  font-size: 18px;
}
.btn-lg {
  font-size: 14px !important;
  padding: 14px 40px !important; 
}
.inner-banner-content {
  display: flex;
  justify-content: center;
}

/* Residential & Commercial css */
.residential-section {
  background: #e6eaf8;
  padding: 60px 0;
}

.service-card{
  background-color: #cfe7d0;
  border-radius: 8px;
}

.special-heading{
  font-size: 46px;
}

.special-text{
  font-size: 20px;
}

.service-heading{
  font-size: 48px;
}

.service-area{
  font-weight: 400;
  font-size: 20px;
}

.footer-link a{
  color: #000 !important;
  text-decoration: underline !important;
  margin-left: 15px;
}

.steps-heading{
  font-weight: 600;
  font-size: 24px;
}

.steps-disc{
  font-size: 18px;
  font-weight: 400;
}

.why-us-number-main
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-us-number
{
  width:100px;
  height:100px;
  line-height:100px;
  text-align: center;
  display: block;
  background-color: #72bc76;
  font-size:72px;
  font-weight:bold;
  color:#fff;
  border-radius: 100%;
  position: relative;
  z-index: 993;
}
.why-us-number-main::after
{
  content:" ";
  position: absolute;
  left:50%;
  top:0px;
  height:250px;
  width:2px;
  z-index: 1;
  background-image: linear-gradient(black 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 1px 35px;
  background-repeat: repeat-y;
  transform: translateX(-50%);
}
.why-us-number-main.no-after::after
{
  display: none;
}
.right-form-hero .form-select,
.right-form-hero .form-control {
  min-height: 41px;
  background: #f6f7fd;
  border: 1px solid #dcdcdc38;
  border-radius: 5px;
}

.graph-head {
  font-family: 'Jost';
  font-size: 20px;
}

.right-form-hero {
  margin-top: -320px;
  position: relative;
  max-width: 450px;
  margin-left: auto;
}

.contact_wrap p {
  font-size: 14px;
  color: #666e83;
}

.contact_wrap a {
  font-size: 14px;
  text-decoration: none;
}

.contact_wrap-form i {
  color: #666e83;
}

.img-why-section img {
  max-height: 300px;
  object-fit: cover;
}

.why-section {
  background: #f7fafc;
  padding: 60px 0;
}

.sub-heading {
  font-size: 26px;
  margin-bottom: 15px;
}

/* Our Service css */
.our-service-section {
  background: #e6eaf8;
  padding: 60px 0;
}

.content-card img {
  max-width: 50px;
  background: #e1e4ef;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.card-image-wrap {
  overflow: hidden;
  transition-duration: 1s;
}

.card-image-wrap img {
  transition-duration: 1s;
}

.card-image-wrap:hover img {
  transform: scale(1.2) rotateY(20deg);
}

.content-card .link_bold {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.card-wrap {
  position: relative;
}

.brand-we-section {
  background: #e6eaf8;
  padding: 60px 0;
}

.brand-we-section .react-multi-carousel-list {
  max-width: 800px;
  margin: auto;
}

.get-a-quote-section {
  background: var(--primary);
  color: #fff;
  padding: 60px 0 27px 0;
}

.truck_image-wrap {
  margin-bottom: -85px;
  margin-top: 20px;
}

.faq-section {
  background: #e6eaf8;
  padding: 100px 0 0;
}

.faq-section .accordion {
  background: #062e53;
  padding: 50px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  margin-bottom: -60px;
}

.service-area-section {
  background: #fff;
  padding: 100px 0 0;
}

ul.area-list {
  list-style: none;
  padding: 0;
}

iframe {
  vertical-align: bottom;
}

.list-country ul {
  padding: 0;
  list-style: none;
  column-count: 2;
}

.list-country ul li {
  position: relative;
  padding-left: 0;
  margin-bottom: 10px;
  color: #3e4055;
}

.list-country ul li:before {
  content: "\f3c5";
  font-family: 'FontAwesome';
  padding-right: 10px;
  font-size: 15px;
  color: #294db6;
}

/* CSS Footer css */
footer {
  background: #fff;
  padding: 80px 0 60px;
  color: #fff;
}

.footer_logo {
  max-width: 140px;
}

.copyright {
  background: #fff;
  color: #fff;
  padding: 10px 0;
}

.copyright p {
  margin: 0;
  color: #000;
}

.footer-wrap-col h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 28px;
  font-family: 'Roboto';
}

.content_info ul {
  list-style: none;
  padding: 0;
}

.content_info ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.content_info ul li p {
  margin: 0;
}

.content_info ul li a {
  color: #fff;
  text-decoration: none;
}

.content_info ul {
  list-style: none;
  padding: 0;
}

.content_info ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.content_info ul li p {
  margin: 0;
}

.content_info ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-social-icons ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  gap: 15px;
  margin: 0;
}

.footer-social-icons ul li {
  display: inline-block;
  margin-right:15px;
}
.footer-social-icons ul li:last-child
{
  margin-right: 0px;
}

.footer-social-icons a {
  color: #000;
  font-size: 20px;
  transition-duration: 0.5s;
}

.footer-social-icons a:hover {
  opacity: 0.8;
  transform: scale(1.3);
  display: inline-block;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.logo-wrap p {
  line-height: 1.6rem;
  color: #ffffffcf;
}

.offer-heading{
  font-size: 48px;
  text-align: center;
  padding-bottom: 60px;
}

.link-text{
  font-weight:bold;
  text-decoration: none;
  color: #72bc76;
}

/* New add css */
.blog_image_set {
  max-height: 500px;
  object-fit: cover;
}

.blog_image_service {
  margin-top: 160px;
}

.our-service-section {
  padding-top: 150px;
}

.card-image-wrap img {
  transition-duration: 1s;
  height: 200px;
  object-fit: cover;
}

.sub_title_banner h4 {
  position: relative;
  width: fit-content;
  margin: auto;
}

.sub_title_banner h4:after {
  content: "";
  position: absolute;
  border: dotted 1px #8e9cd2;
  top: 50%;
  width: 100%;
  max-width: 140px;
  left: 160px;
  height: 2px;
  transform: translateY(-50%);
}

.sub_title_banner h4:before {
  content: "";
  position: absolute;
  border: dotted 1px #8e9cd2;
  top: 50%;
  right: 160px;
  width: 100%;
  max-width: 140px;
  height: 2px;
  transform: translateY(-50%);
}

.bg-static_img {
  background-attachment: unset;
}
.navbar-nav .dropdown-item {
  padding: 8px 15px;
  border-radius: 5px;
  color: #000;
}
.navbar-nav .dropdown-item:hover {
  background: #294db6;
  color: #fff;
}
.form_img-top {
  position: relative;
  margin-bottom: -25px;
}

.form_img-top:before {
  content: "";
  position: absolute;
  height: 20px;
  left: 10%;
  background: #000;
  bottom: 10px;
  border-radius: 20px;
  opacity: 0.4;
  width: 80%;
  filter: blur(5px);
}
.form_img-top img {
  position: relative;
}
@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #0c1225;
    padding: 10px 10px;
  }
}
@media (max-width: 1199px) {
  .navbar-brand img {
    /* transform: scale(1.1); */
    padding: 5px 15px;
    background: #fff;
    /* max-width: 90px; */
  }
  .right-form-hero {
    margin-top: -170px;
    position: relative;
    max-width: 100%;
  }

  #navbarScroll {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
    background: #f8f9fa;
    left: 0;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;
  }

  .navbar-toggler {
    font-size: 14px;
    padding: 3px 5px;
  }

  .why-us-number {
    font-size: 42px;
    width: 56px;
    height: 56px;
    line-height: 56px;
  }

  .why-us-number-main::after{
    height: 320px;
  }
}
@media (max-width: 991px) {
  .why-us-number-main::after{
    height: 280px;
  }
}

@media (max-width: 767px) {
  .why-us-number {
    font-size: 32px;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
  .why-us-number-main::after{
    height: 330px;
  }
}
@media (max-width: 560px){
  .est-btn{
    display: none !important;
  }
}
